@import "tailwindcss";

#body_div{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#inner-div{
  background-color: white;
  position: fixed;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 1000px;
}

#inner-div button{
  margin-left: 20px;
  border-radius: 1000px;
  padding: 10px;
  height: 50px;
  width: 100px;
}